@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1a250e;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  font-size: 13px;
  padding: 30px 170px;
  transition: all 400ms;
}

#nav.sticky {
  padding: 20px 170px;
  box-shadow: 0 15px 40px rgba(102, 145, 53, 0.173);
}

@media (max-width: 1100px) {
  #nav {
    padding: 20px 60px;
  }

  #nav.sticky {
    padding: 20px 60px;
    box-shadow: 0 15px 40px rgba(102, 145, 53, 0.173);
  }
}

nav a {
  text-decoration: none;
  transition: all 400ms;
}

.nav-links a {
  color: #1a250e;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.nav-links a:hover {
  color: #669135;
}

#nav .active a {
  color: #669135;
}

/* Menu burguer */

.burguer-menu {
  display: none;
  cursor: pointer;
  width: 25px;
}

.burguer-menu-open {
  display: none;
}

.burguer-menu-close {
  display: none;
}

.burguer-menu-close.close {
  display: block;
}

.burguer-menu-open.open {
  display: none;
}

@media (max-width: 900px) {
  .burguer-menu {
    display: block;
  }

  .burguer-menu-open {
    display: block;
  }

  #nav {
    justify-content: space-between;
  }

  .nav-links {
    display: none;
  }

  .nav-links.open {
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: #1a250e;
    width: 100%;
  }

  .nav-links ul li a {
    color: #fff;
  }
}

a.button {
  display: inline-block;
  background-color: #669135;
  padding: 12px 30px;
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
  box-shadow: 0 15px 40px rgba(102, 145, 53, 0.4);
  letter-spacing: 1.1px;
  transition: all 400ms;
  border: 1px solid #669135;
}

.button:hover {
  background-color: #fff;
  color: #669135;
  box-shadow: none;
}

/* Section home */

section.home {
  display: flex;
  justify-content: space-between;
  background-color: #f3f8ec;
  height: calc(100vh - 80px);
}

section.home img {
  max-width: 50%;
  object-fit: cover;
}

@media (max-width: 700px) {
  section.home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  section.home img {
    max-width: 80%;
    object-fit: cover;
  }
}

.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.hero-text > div {
  max-width: 35.5rem;
  margin-left: 10rem;
}

@media (max-width: 1100px) {
  .hero-text > div {
    margin-left: 5rem;
  }
}

.hero-text h1 {
  font-size: 3.3rem;
  margin-bottom: 20px;
}

.hero-text p {
  width: 80%;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #1a250e;
  margin-bottom: 3.12rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.hero-text span {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #669135;
}

/* section produtcs */

.products {
  display: grid;
  place-items: center;
}

.product-info {
  max-width: 600px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 100px;
}

@media (max-width: 1040px) {
  .brand-logo {
    padding: 30px;
    gap: 30px;
  }
}

.products-img {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 0 100px;
}

.products-img img {
  border-radius: 5px 5px 0 0;
  height: 300px;
}

.products h2,
.products p {
  text-align: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-details > div {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 30px #00000016;
  padding: 40px;
}

.product-name {
  color: #1a250eb3;
}

.product-price {
  color: #669135;
}

/* section about */

.about img {
  max-width: 600px;
}

@media (max-width: 700px) {
  .about img {
    max-width: 380px;
  }
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.about > div {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about p {
  margin-bottom: 15px;
}

.about .button {
  margin-top: 50px;
  align-self: self-start;
}

/* section newsletter */

.newsletter {
  max-width: 570px;
  margin: 100px auto;
  text-align: center;
}

.newsletter > div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px 0 80px 0;
}

.newsletter input {
  max-width: 330px;
  padding: 0 25px;
  background-color: #e6f1da;
  border: none;
  outline: none;
}

/* Footer */

footer {
  padding: 6.5rem;
  background-color: #1a250e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

footer nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 13px;
}

footer img {
  align-self: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #669135;
}
